@import "partials/_reset.scss";

html,body{
	width:100%;
	height:100%;
	background:#ffffff;
}

audio{
	display:none;
}

.colorBox{
	width:10%;
	height:20%;
	float:left;
}

.color-1{
	background:#c63033;
}
.color-2{
	background:#f8686f;
}
.color-3{
	background:#e27864;
}
.color-4{
	background:#ffb698;
}
.color-5{
	background:#ffe8bc;
}
.color-6{
	background:#ffde9f;
}
.color-7{
	background:#b14e38;
}
.color-8{
	background:#752025;
}
.color-9{
	background:#98b8b2;
}
.color-10{
	background:#6b3f4d;
}